<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Connection</description>
    <res-ref-name>jdbc/memo</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>UserAddEditServlet</servlet-name>
    <servlet-class>myservlet.UserAddEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddEditServlet</servlet-name>
    <url-pattern>/UserAddEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCheckServlet</servlet-name>
    <servlet-class>myservlet.UserCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCheckServlet</servlet-name>
    <url-pattern>/UserCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>myservlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemoReadServlet</servlet-name>
    <servlet-class>myservlet.MemoReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoReadServlet</servlet-name>
    <url-pattern>/MemoReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemoAddEditServlet</servlet-name>
    <servlet-class>myservlet.MemoAddEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoAddEditServlet</servlet-name>
    <url-pattern>/MemoAddEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemoStatusServlet</servlet-name>
    <servlet-class>myservlet.MemoStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoStatusServlet</servlet-name>
    <url-pattern>/MemoStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>